html {
    overflow-x:hidden;
}

@media screen and (max-width:491px) {
    /*.navbar {
        flex-wrap:nowrap;
    }

    .text-truncate img {
        max-width: 100%;
    }*/
    .website-title {
        display:none;
        content:"" !important;
    }
    .website-title::before {
        display:block;
        content:"Obsnev";
    }    
}

@media screen and (min-width:492px) {
    .intro-js-obsnev {
        min-width:468px;
        max-width: 768px;
    }
}

@media screen and (max-width:991px) {
    .website-title {
        text-align:center;
    }
}

@media screen and (min-width:992px) {
    .side-form-scroll {
        max-height:80vh;
        overflow-y:scroll;
        overflow-x:none;
    }

	.navbar .nav-item:hover .dropdown-menu{ 
        display: block; 
    }
	.navbar .nav-item .dropdown-menu{ 
        margin-top:0; 
    }

}
/* Header Style*/

.navbar {
    -webkit-box-shadow: -1px 4px 5px -1px rgba(204,204,204,1);
-moz-box-shadow: -1px 4px 5px -1px rgba(204,204,204,1);
box-shadow: -1px 4px 5px -1px rgba(204,204,204,1);
}

.website-title {
    font-weight:500;
    font-size:1.1rem;
}

.nav-item{
    text-align: right;
}

.leaflet-popup {
    margin-bottom:35px;
}

/*.sticky-top { 
    top: 0.5em; 
}*/

/* div Scroll style */

#map-query {
    padding-top:20px;
}

.side-form-scroll {
    overflow-x:hidden;
}

.side-form-scroll::-webkit-scrollbar, #div_id_station_name > div::-webkit-scrollbar {
    width: 6px;
  }
  
.side-form-scroll::-webkit-scrollbar-track, #div_id_station_name > div::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
border-radius: 10px;
}
   
.side-form-scroll::-webkit-scrollbar-thumb, #div_id_station_name > div::-webkit-scrollbar-thumb {
background: #abca62; 
border-radius: 10px;
}
  
.side-form-scroll::-webkit-scrollbar-thumb:hover, #div_id_station_name > div::-webkit-scrollbar-thumb:hover {
background: #7bba42; 
}

/* Other Style */

.nav-item{
    text-align: right;
}

.Show-form {
    display:none;
  }
  
.showhide {
    position:relative;
}
  
.showhide button {
    position:absolute;
    top:-60;
    left:25;
}

.irs-bar, .irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single, .irs--flat .irs-handle.state_hover>i:first-child {
    background-color: #abca52 !important;
    background: #abca52 !important;
}

.irs-bar, .irs--big .irs-from, .irs--big .irs-to, .irs--big .irs-single, .irs--flat .irs-handle.state_hover>i:first-child {
    background-color: #abca52 !important;
    background: #abca52 !important;
    border: 1px solid #93b14d !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before, .irs--big .irs-from:before, .irs--big .irs-to:before, .irs--big .irs-single:before {
    border-top-color: #abca52 !important;
}


.irs--flat .irs-handle>i:first-child {
    background-color: #8fa853 !important;
    background: #abca52 !important;
}

.irs--big .irs-handle>i:first-child {
    background-color: #8fa853 !important;
    background: #abca52 !important;
}

.irs--big .irs-grid-text {
    color: #4e4e4e;
}
#selAltitude {
    display:none;
}

#disabled-download-info {
margin-top:20px;
}

#div_id_variable_type {
    margin-top:10px;
}


.footer {
    background:#4c4c4c;
    color: rgba(240, 240, 240, 0.993);
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/*.mt-auto, .my-auto {
    margin-top: auto!important;
}*/

.btn-obsnev, #map-query .btn-success {
    color: #fff;
    background-color: #abca62 !important;
    border-color: #abca62 !important;
}

#map-query .select2-selection__clear {
    display:none !important;
}

.select2-container {
    min-width: 5em !important;
    width: 100% !important;
    height: auto !important;
}

.select2-container, .select2-container .select2-selection--single {
    min-height:40px;
}

.select2-selection--multiple {
    height:auto !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
    padding:0px !important;
}

.select2-container--focus {
    height:40px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin-bottom:5px;
    margin-top:5px !important;
    margin:5px !important;
    color:#4c4c4c;
}

.intro-js-obsnev .introjs-progressbar {
    background-color:#abca62
}

.content-margin-top {
    padding-top:40px;
    padding-bottom:40px;
}

.cryptedmail:after {
    content: attr(data-name) "@" attr(data-domain) "." attr(data-tld); 
  }